body {
  
}

canvas {
  /*mix-blend-mode: overlay;*/
  cursor: none;
  margin-top: 70px;
}

#container {
  width: 1024px;
  height: 786px;
  text-align: center;
  background-image: linear-gradient(to bottom right, rgb(0, 208, 208), rgb(197, 2, 101));
  cursor: none;
}